.header {
  display: grid;
  grid-template-columns: 430px 1fr 430px;
  height: 105px;
  width: 1052px;
  margin: 92px 24px 96px 24px;
  align-items: center;
  justify-items: center;
  background-color: bisque;
  font-size: 18px;
}

.navigation {
  
}

.nav_list {
  display: flex;
  flex-direction:row;
  white-space: nowrap;
  gap: 30px;
  list-style-type: circle; 
}

.navigation_link {
  text-decoration: none;
  border-bottom: 1px solid black;
}

.no_circle {
  list-style-type: none; 
}

.navigation_link_nostyle {
  border-bottom: 0px;
}


.image_logo {
  height: 105px;
}

.address {
  font-style: normal;
}

.address_no_decor {
  text-decoration: none;
}

