.header {
  height: 293px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  padding: 92px 50px 96px;
  align-items: center;
  font-size: 18px;
}

.header-list {
  display: flex;
  flex-direction: row;
  gap: 33px;
  list-style: circle outside;
  letter-spacing: 0.1px;
}

.list_item_none_decore {
  list-style: none;
}

.list_item a {
  text-decoration: none;
  border-bottom: 1px solid black;
}

.list_item_none_decore a {
  border-bottom: 0;
}

.logo-black {
  width: 136px;
}

.address {
  justify-items: end;
}

.address-list {
  list-style: none;
  font-style: normal;
  line-height: 24.5px;
  margin-right: 35.5px;
  letter-spacing: 0.05px;
}

.list-item-none-underline a {
  text-decoration: none;
}

.main {
  
}