.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 92px;
  font-size: 18px;
}

.header__list {
  display: flex;
  flex-direction: row;
  gap: 33px;
  letter-spacing: 0.1px;
  list-style: circle outside;
}

.list_item_none_decore {
  list-style: none;
}

.list_item a {
  border-bottom: 1px solid black;
  text-decoration: none;
}

.list_item_none_decore a {
  border-bottom: 0;
}

.logo-black {
  width: 136px;
}

.address {
  justify-items: end;
  justify-self: end;
}

.address-list {
  margin-right: 35.5px;
  font-style: normal;
  line-height: 24.5px;
  letter-spacing: 0.05px;
  list-style: none;
  /* подгонял все в пикселе поэтому немного странные числа но я правда пытался максимально красивые делать */
}

.list-item-none-underline a {
  text-decoration: none;
}

.cover {
  position: relative;
  padding: 163px 50px 51px;
  color: #FFFFFF;
  background: url(../images/cover.jpg) no-repeat center / cover;
}

.cover__title {
  position: relative;
  z-index: 1;
  margin-bottom: 130px;
  font-size: 100px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  line-height: 1.35;
  text-align: center;
}

.aligned-text_right {
  line-height: 1.1;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing:0.6em ;
}

.no-letter-spacing {
  letter-spacing: 0em;
}

.cover__footer {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  text-transform: uppercase;
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover-paragraph {
  margin-left: 28px;
  font-weight: normal;
  line-height: 28px;
  word-spacing: 18.5px;
}

.button {
  border: 1px solid white;
  padding: 12px 32px 11px 32px;
  color: #FFFFFF;
  font-size: 22px;
  text-transform: uppercase;
  background: none;
}

.button:hover {
  border: 1px solid rgba(255, 255, 255, 0);
  color: rgb(100, 100, 100);
  background: rgba(255, 255, 255, 0.6);
}

.section__lots {
  padding: 179px 24px 0;
  scroll-behavior: smooth;
}

.lots__title {
  padding: 0 0 27px 40px;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 25px;
  list-style: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 563px;
  border-radius: 2px;
  padding:51px 40px 48px;
  color: #FFFFFF;
  background-color: aqua;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card-title {
  position: relative;
  z-index: 1;
  display: inline;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.2;
  text-decoration: underline;
  text-transform: uppercase;
}

.card p {
  position: relative;
  z-index: 1;
  font-size: 20px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_painting {
  background-image: url(../images/card-lot-03.jpg);
}

.card-link {
  display: inline-block;
  margin:30px 0 0 40px;
  border-bottom: 1px solid black;
  font-size: 20px;
  text-decoration: none;
}

.about__logo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  padding: 181px 24px 0;
}

.logo-white {
  width: 240px;
  height: 240px;
  margin-left: 47px;
  border-radius: 100%;
  padding: 64px 46px;
  background-color: black;
}

.about__info {
  display: flex;
  flex-direction: column;
  grid-column: 2/4;
  gap: 24px;
}

.about__title {
  margin-bottom: 76px;
  padding: 101px 0 0 0;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.about__info p {
  font-size: 20px;
  line-height: 24px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 181px 50px 88px;
  font-size: 18px;
}

.footer__list {
  list-style: none;
}

.footer nav {
  justify-items: center;
  text-align: center;
}

.favicon__list {
  display: flex;
  flex-direction: row;
  gap: 48px;
  padding: 0 0 30px 94px;
  list-style: none;
}